<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(99, 102, 241, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px; min-width: 380px;">
                <i class="pi pi-map text-primary mb-3" style="font-size: 3rem;"></i>
                <span class="text-primary font-bold text-3xl">404</span>
                <h1 class="text-color font-bold text-3xl lg:text-4xl mb-2 mt-2">Página não encontrada</h1>
                <div class="text-600 mb-5 text-center">A página que você tentou acessar não existe ou foi movida.</div>
                <button pButton pRipple label="Voltar ao início" icon="pi pi-home" [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div>
